CONTROLLER_HTTP_PORT=8080

ESP_SEN_HOST=localhost
ESP_SEN_COAP_PORT=5683
ESP_SEN_POLLING_INTERVAL_MS=2000
ESP_SEN_RES_AMBIENT_LIGHT=/sensor/light
ESP_SEN_RES_ACCELERATION=/sensor/acceleration
ESP_SEN_RES_IMPACT_EVENT=/events/impact
ESP_SEN_RES_THEFT_EVENT=/events/theft

ESP_ACT_HOST=localhost
ESP_ACT_HTTP_PORT=8081
ESP_ACT_EP_SET_INTENSITY=/actuator/intensity
ESP_ACT_EP_START_BLINK=/actuator/blink
ESP_ACT_EP_ACTIVATE_ALARM=/actuator/alarm
ESP_ACT_EP_RESET_ALARMS=/actuator/reset
ESP_ACT_EP_GET_STATE=/actuator/state

ALARMS_BLINK_DURATION_MS=20000
