SENSOR_TD_URL=http://localhost:8080/museumguard-sensor
ACTUATOR_TD_URL=http://localhost:8080/museumguard-actuator

INFLUX_URL=http://localhost:8181
INFLUX_TOKEN=
INFLUX_DATABASE=museumguard

POLLING_MS=20000

FORECAST_ENABLED=false
FORECAST_URL=http://localhost:8000
FORECAST_HORIZON_S=60
